{{#each posts}}
<article class="post">
  <h2><a href="/post/{{post_id}}">{{post_title}}</a></h2>
  <p>{{post.post_content}}</p>
  <p>Posted by {{post.user_id}} on {{formatDate post.created_at}}</p>
</article>
{{/each}}