<main>
  <h1>Dashboard</h1>
  <section id="posts-section">

    <form id="new-post-form" class="new-post-form">
      <input id="post-title" type="text" placeholder="Title" name="title" required>
      <textarea id="post-content" placeholder="Content" name="content" required></textarea>
      <button type="submit">Create New Post</button>
    </form>

    <div id="posts-list">
      {{#each posts}}
  <div class="post">
    <h2 class="post-title">{{post.post_title}}</h2>
    <p class="post-content">{{post.post_content}}</p>

    <p class="date">Posted on: {{formatDate post.created_at}}</p>
    <button class="edit-post-btn" data-id="{{post.post_id}}">Edit</button>
    <button class="delete-post-btn" data-id="{{post.post_id}}">Delete</button>
  </div>
{{/each}}

    </div>
  </section>
</main>

<script src="/public/javascript/createPost.js"></script>
<script src="//public/javascript/editPost.js"></script>